
<div class="container">
  <h1>Photo Board</h1>
  <hr align="left">
  <div class="top-panel">


  <app-image-form
  (onAddPhoto)=onAddPhoto($event)
  [boardId]="boardId"
  >
  </app-image-form>
  <div class="create-board">
  <!-- <span *ngFor="let board of boards"> -->
    <app-board-list *ngIf="!toggle; else formBoard"
    (onSelectedBoard)=onSelectedBoard($event)
    [boardList]="boardList$"
    ></app-board-list>
    <ng-template
    #formBoard
    >
    <app-board-form
    (onAddBorder)="onAddBorder($event)"
    ></app-board-form>
    </ng-template>
    <button class="btn btn-sm btn-outline-primary" (click)=createBoard()>Create a new board</button>
  </div>
  </div>
  <!-- </span> -->
  <div class="board">
    <div *ngIf="boardId; else notFoundPhoto">
      <app-photo
      *ngFor="let photo of photoList$ | async "
      [photo]="photo"
    ></app-photo>
    </div>
    <ng-template
      #notFoundPhoto
      ><h3>Создайте боард и загрузите ваши фото</h3>
    </ng-template>
    <div class="del-save">
      <button class="btn btn-sm btn-outline-primary p-r-1" (click)=onDeletePhoto()>Dismiss Changes</button>
      <button class="btn btn-sm btn-primary" (click)=onSaveBoard()>Save Board</button>
    </div>

  </div>
</div>


