<h1>Photo Board</h1>
<div class="container">
  <app-image-form
  (onAddPhoto)=onAddPhoto($event)
  >

  </app-image-form>
  <button class="btn">Create a new board</button>
  <app-board-form
  (onAddBorder)="onAddBorder($event)"
  ></app-board-form>
  <!-- <span *ngFor="let board of boards"> -->
    <app-board-list
    (onSelectedBoard)=onSelectedBoard($event)
    [boardList]="boardList$"
    ></app-board-list>
  <!-- </span> -->
<span *ngFor="let photo of photoList$">
  <app-photo
  [photo]="photo"
></app-photo>
</span>

</div>


