<h1>Photo Board</h1>
<div class="container">
  <app-image-form
  (onAddPhoto)=onAddPhoto($event)
  [boardId]="boardId"
  >

  </app-image-form>
  <button class="btn">Create a new board</button>
  <app-board-form
  (onAddBorder)="onAddBorder($event)"
  ></app-board-form>
  <!-- <span *ngFor="let board of boards"> -->
    <app-board-list
    (onSelectedBoard)=onSelectedBoard($event)
    [boardList]="boardList$"
    ></app-board-list>
  <!-- </span> -->
<span *ngIf="boardId; else notFoundPhoto">
  <app-photo
  *ngFor="let photo of photoList$ | async "
  [photo]="photo"
></app-photo>
</span>
<ng-template
  #notFoundPhoto
  ><h3>Создайте боард и загрузите ваши фото</h3>
</ng-template>
<button (click)=onDeletePhoto()>Delete</button>
</div>


