/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "~@ng-select/ng-select/themes/material.theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
// .btn {
//   width: 100px;
//   background-color: #469ACF;
//   border: none;
//   margin-left: 10px;
//   border-radius: 5px;
//   color: #fff;
//   height: 25px;
//   cursor: pointer;
// }
h1 {
  font-weight: 600;
}
